<div class="contact_section_center">
    <h2>Contáctame</h2>
    <div>

    </div>
    <div class="contact">
        <div class="option" (click)="openContact(dataService.profileInformation.contact![2].url)">
            <img src="/assets/email.png" alt="email">
            <p>Correo</p>
        </div>
        <div class="option" (click)="openContact(dataService.profileInformation.contact![0].url)">
            <img src="/assets/linkedin.png" alt="linkedin">
            <p>LinkedIn</p>
        </div>
        <div class="option" (click)="openContact(dataService.profileInformation.contact![1].url)">
            <img src="/assets/github.png" alt="github">
            <p>GitHub</p>
        </div>
        <div class="option" (click)="openContact(dataService.profileInformation.contact![3].url)">
            <img src="/assets/whatsapp.png" alt="WhatsApp">
            <p>WhatsApp</p>
        </div>
    </div>
</div>