<div class="contact_section_center">
    <h2>Contáctame</h2>
    <div>

    </div>
    <div class="contact">
        <div class="option">
            <img src="/assets/email.png" alt="email">
            <p>Correo</p>
        </div>
        <div class="option">
            <img src="/assets/linkedin.png" alt="linkedin">
            <p>LinkedIn</p>
        </div>
        <div class="option">
            <img src="/assets/github.png" alt="github">
            <p>GitHub</p>
        </div>
    </div>
</div>