/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.btn {
    padding: 10px 20px;
    border-radius: 9px;
}
.btn-primary {
    background: #FFFFFF;
    color: #221f1f;
    border: 1px solid #221f1f;
}
.btn-secundary {
    background: #221f1f;
    color: #FFFFFF;
    border: 1px solid #221f1f;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
}
  
  /* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .nav {
        display: block !important;
        .title_nav_section {
            text-align: center;
        }
    }
    .center-info {
        text-align: center;
        display: block !important;
        position: relative !important;
        top: initial !important;
        left: initial !important;
        transform: initial !important;
        .information {
            margin-left: 0 !important;
        }
    }
}